.container{
    width: 100%;
    display: flex;
    background-color: black;
}



.container .left{
    width: 80%;
    text-align: center;
    margin-left: 130px;
}

.container .left .paragraph{
    color: white;
    padding: 10px;
    font-size: 15px;
}

.container .left .paragraph .shopnow{
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}



.container .right{
    display: flex;
    width: 20%;
    text-align: start;
    margin: auto 0;
}


.container .right .languages{
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}

.container .right .chevron_down{
    color: white;
    width: 10px;
}