/* remove default starting */

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
}

ol, ul {
	list-style: none;
}

blockquote {
	quotes: none;
}

blockquote:before, 
blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}

header, 
section, 
article, 
aside, 
nav, 
footer, 
address {
	display: block;
}

body {
	font-family: sans-serif, Arial, Helvetica ;
	font-size: 14px;
	color: #555;
	min-width:320px;
	overflow-x: hidden;
}

input,
textarea,
select{
	font-family: sans-serif, Arial, Helvetica ;
}

/* remove default ended */

/* Custom scrollbar staring */
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3b3b3b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Custom scrollbar ended */