.container{
    width: 85%;
    margin: 30px auto;
}

.container .heading_container .right_border{
    border-left: 14px solid #DB4444;
    border-radius: 2px;
    padding: 5px 0;
    margin-right: 10px;
}

.container .heading_container .main_heading{
    font-size: 14px;
    font-weight: 500;
    color: #DB4444;
    display: inline;
}


.container .sub_heading_container{
    margin: 20px 0 20px;
    color: black;
}

.container .sub_heading_container .sub_heading{
    font-size: 22px;
    font-weight: 500;
    color: black;
}


.container .category_card {
    display: flex;
    gap: 10px;
}

.container .category_card .card{
    border: 1px solid rgb(230, 230, 230);
    padding: 27px;
    width: 11.3%;
}

.container .category_card .card .img_container{
    text-align: center;
    margin-bottom: 8px;
}

.container .category_card .card .img_container .mobile_screen_icon{
    width: 25px;
    color: black;
}

.container .category_card .card .card_heading{
    overflow: hidden;
    font-size: 16px;
    text-align: center;
}