.container{
    height: 95vh;
    display: flex;
    padding: 15px;

    @media (max-width: 720px) {
        flex-direction: column;
        padding: 10px 80px;
        margin-top: 40px;
        margin-bottom: 40px;
        height: 127vh;
    }
    @media (max-width: 560px) {
        padding: 10px 40px;
    }
    @media (max-width: 410px) {
        padding: 10px 30px;
    }
}

.container .left{
    width: 55%;
    padding: 10px 70px 70px;
    @media (max-width: 990px) {
        width: 40%;
    }
    @media (max-width: 720px) {
        width: 100%;
        padding: 0px 0px;
  }
}

.container .left .logo_container .logo{ 
    color: black;
    font-size: 33px;
    font-weight: 700;
    @media (max-width: 720px) {
        margin: 0 auto;
        text-align: center;
        font-size: 30px;
    }
    @media (max-width: 410px) {
        font-size: 26px;
    }
}

.container .left .main_heading{
    font-weight: bold;
    color: #0c3a4a;
    margin-top: 180px;
    line-height: 1.3em;
    font-size: 3vw;
    margin-bottom: 15px;
    @media (max-width: 900px) {
        font-size: 3vw;
    }
    @media (max-width: 720px) {
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 3.9vw;
        text-align: center;
    }
    @media (max-width: 500px) {
        font-size: 4.7vw;
    }
}

.container .right{
    background-color: #efefef;
    width: 45%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20px;
    padding: 0 70px 60px;
    
    @media (max-width: 1100px) {
        padding: 20px 40px;
        box-sizing: border-box;
    }
    @media (max-width: 990px) {
        width: 60%;
    }
    @media (max-width: 720px) {
        width: 100%;
        padding: 30px 60px;
        box-sizing: border-box;
    }
    @media (max-width: 450px) {
        padding: 40px 40px;
    }
    @media (max-width: 410px) {
        padding: 40px 30px;
    }
}

.container .right .login_container{
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    width: 100%;
    @media (max-width: 1100px) {
        padding-bottom: 10px;
        box-sizing: border-box;
    }
}

.container .right .login_container .login_heading{
    font-size: 32px;
    color: #0c3a4a;
    font-weight: bold;
    margin-bottom: 15px;
    @media (max-width: 1010px) {
      font-size: 28px;
    }
    @media (max-width: 460px) {
      font-size: 27px;
    }
}   

.container .right .login_container .login_info{
    font-size: 18px;
    margin-bottom: 35px;
    @media (max-width: 460px) {
      font-size: 16px;
    }
}

.container .right .login_container .login_form{
    width: 100%;
    display: block;
}

.container .right .login_container .login_form .input_container{
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.container .right .login_container .login_form .input_container .input{
    padding: 20px 25px 20px 30px;
    border: 1px solid #9c9c9c;
    width: 100%;
    display: block;
    border-radius: 10px;
    font-size: 18px;
    box-sizing: border-box;
    outline: none;
    @media (max-width: 1100px) {
      padding: 17px 25px 17px 30px;
    }
    @media (max-width: 460px) {
      padding: 15px 25px 15px 30px;
    }
    @media (max-width: 410px) {
      padding: 12px 25px 12px 30px;
    }
}

.container .right .login_container .login_form .signup_btn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 45px;
    color: #046bf6;
    font-size: 17px;
}

.container .right .login_container .login_form .submit_btn_container{
    display: flex;
    justify-content: center;
}

.container .right .login_container .login_form .submit_btn_container .submit_btn{
    background-color: #046bf6;
    border: 0;
    outline: 0;
    color: white;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 19px;
    cursor: pointer;
    @media (max-width: 460px) {
      padding: 10px 25px;
    }
}

