.product_heading_container{
    text-align: start;
    width: 85%;
    margin: 40px auto 0;
}

.product_heading_container .heading{
    font-size: 15px;
    margin-top: 20px;
    color: rgb(100, 100, 100);
}

.product_heading_container .heading .slash{
   font-size: 10px;
}


.product_details{
    width: 85%;
    margin: 40px auto 0;
    display: flex;
}

.product_details .left_container{
    width: 45%;
    background-color: rgb(243, 243, 243);
    border-radius: 7px;
    
}

.product_details .left_container .product_img{
    width: 100%;
    height: 100%;
    padding: 80px 80px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
}

.product_details .right_container{
    width: 55%;
    margin: auto 0;
    margin-left: 65px;
    
}

.product_details .right_container .product_name{
    color: black;
    margin-bottom: 10px;
}

.product_details .right_container .stock_review_container{
    display: flex;
}

.product_details .right_container .stock_review_container .star_container{
    margin-right: 10px;
}

.product_details .right_container .stock_review_container .star_container .star{
    width: 20px;
    color: #FFAD33;
    margin-right: 2px;

}

.product_details .right_container .stock_review_container .stock_review_count_container{
    display: flex;
}

.product_details .right_container .stock_review_container .stock_review_count_container .stock_review_count{
    color: black;
    margin-right: 10px;
}

.product_details .right_container .stock_review_container .stock_review_count_container .slash{
    color: black;
    font-size: 17px;
    margin-right: 10px;
}

.product_details .right_container .stock_review_container .stock_review_count_container .in_stock{
    color: #09c755;
}

.product_details .right_container .description_container{
    margin-top: 20px;
}

.product_details .right_container .description_container .description{
    color: black;
}

.product_details .right_container .color_container{
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #dddddd;
}

.product_details .right_container .color_container .color_heading{
    color: black;
    margin-right: 18px;
}

.product_details .right_container .color_container .circle{
    width: 20px;
    color: #E07575;
}

.product_details .right_container .color_container .active{
    width: 22px;
    height: 22px;
    margin-right: 8px;
    color: #A0BCE0;
    border: 4px solid black;
    box-sizing: border-box;
    border-radius: 50%;
}

.product_details .right_container .delivery_top_container{
    margin-top: 20px;
}

.product_details .right_container .delivery_top_container .delivery_container{
 display: flex;
 border: 1px solid black;
 border-radius: 4px;
 padding: 10px 20px;
 margin-bottom: -1px;
}

.product_details .right_container .delivery_top_container .delivery_container .delivery_icon{
    width: 40px;
    margin-right: 20px;
    color: black;
}

.product_details .right_container .delivery_top_container .delivery_container .delivery{
    color: black;
    text-align: start;
}

.product_details .right_container .delivery_top_container .delivery_container .delivery .delivery_heading{
    font-size: 18px;
}

.product_details .right_container .delivery_top_container .delivery_container .delivery .delivery_sub_heading{
    font-size: 14px;
    color: #292929;
}